{% extends "base.html" %}
{% load static %}


{% block title %}
{{slug}}
{% endblock %}


{% block styles_css %}
{% comment %} <link rel='stylesheet' href='{% static "blog_app/post.css" %}'>
<link rel='stylesheet' href='{% static "blog_app/posts.css" %}'> {% endcomment %}
<link rel='stylesheet' href='{% static "blog_app/specific_post.css" %}'>
{% endblock %}


{% block body_content %}
<section id='summary'>
    <h2>{{specific_post.title}}</h2>
    <article>
        <img src='{% static "blog_app/images/"|add:specific_post.image %}' alt="{{specific_post.title}}" />
        <address>{{specific_post.author}}</address>
        <div>
            Last Updated On <time>{{specific_post.date}}</time>
        </div>
    </article>
</section> 
    <main>
       <p>
        {{specific_post.content| linebreaks}}
       </p>
    </main>


    

{% endblock %}