{% load static %} 

<ul>
    <li> 
        <article class='post'> 
            <a href='{% url "specific_post" "real-estate" %}'>
                <img src="{% static 'blog_app/images/real_estate.jpg' %}" alt="latest-post">
                <div id='post_content'>
                    <h3>Buying My First Apartment Building!</h3>
                    <p>When buying an apartment, location is key. Research different neighborhoods to find one that aligns with your lifestyle and preferences. Consider factors such as proximity to work, schools, public transportation, amenities, and safety. Visiting neighborhoods in person and talking to residents can provide valuable insights into what it's like to live there.
                    </p>
                </div>
            </a>
        </article>
    </li>
</ul>